apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend-app:v1
          imagePullPolicy: Never
          ports:
            - containerPort: 5001
          env:
            - name: REDIS_HOST
              value: "redis-0.redis-headless"
